header{
    grid-area: header;
    background: linear-gradient(135deg, #f8c889 0%, #bba770 100%);
    padding: 32px 0;
    text-align: center;
    h1{
    color: darkgoldenrod;
    font-size: 48px;
    margin: 0 0 16px 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    }
    nav{
    background-color: transparent;
    padding: 1rem 2rem;
    position: relative;
        .menu-toggle {
            display: none;
        }
        .hamburguesa {
            display: none;
        }
        .hamburguesa span {
            width: 28px;
            height: 3px;
            background-color: #c8a165;
            margin: 3px 0;
            transition: transform 0.3s ease, opacity 0.3s ease;
            border-radius: 3px;
        }
        ul{
            display: flex;
            gap: 2rem;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            li a {
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                text-decoration: none;
                color: rgb(26, 26, 122);
                font-weight: 600;
                padding: 0.5rem 1rem;
                transition: all 0.3s ease;
                border-radius: 5px;
                a:hover {
                    background-color: rgba(200, 161, 101, 0.2);
                }
            }       
        }
    }
}