main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem
}
section{
    background-color: rgb(238, 190, 127);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    h2{
        font-style: italic; 
        text-decoration: underline;
        text-align: left;
        font-size: 32px;
        border-bottom: 3px solid #c8a165;
        padding-bottom: 8px;
        p{
            text-align: left;
            font-family: sans-serif;
            line-height: 1.8;
            color:#333;
        }
    }
    #representantes {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    gap: 16px;
    li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
    padding: 16px;
    border-left: 4px solid #c8a165;
    border-radius: 5px;
    transition: transform 0.3s ease;
        }
    li:hover{
    transform: translateX(10px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        }
    }
}
footer{
    grid-area: footer;
    background-color: #f8c889;
    color:#333;
    text-align: center;
    padding: 2rem;
    margin-top: auto;
    p{
        margin:0;
    }
}
